* {
  box-sizing: border-box;
}

body {
	margin: 0;

}

.game{
	min-width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.startDeck {
	width: 100%;
	height: 33%;
	background-color: lightblue;
	position: relative;
}

.cardContainer1, .cardContainer2 {
	transition: width 2s linear 1s;
}

.card {
	height: 100px;
	width: 60px;
	border: 1px solid gray;
	position: absolute;
	left: 50%;
	top: 25%;
}

.cardFront {
	height: 100px;
	width: 60px;
	border: 1px solid gray;
	position: absolute;
	left: 50%;
	top: 25%;
}

/*Animation Styles */

.cardFront {
	transform: rotateY(90deg);
}

.flipped1 {
	animation: flip 0.2s ease-in forwards;
}

.flipped2 {
	animation: flip 0.2s 0.2s ease-in forwards reverse;
}

@keyframes flip {
	0%{ transform: rotateY(0deg); }
	100%{ transform: rotateY(90deg); }
}

/* end */

.player {
	width: 100%;
	height: 33%;
	position: relative;
}

.ai {
	width: 100%;
	height: 33%;
	position: relative;
}

.flipper {
	width: 100%;
	height: 100%;
	position: absolute;
}

.front {
	width: 100%;
	height: 100%;
	position: absolute;
}

.playerBack {
	width: 100%;
	height: 100%;
	position: absolute;
}

.aiBack {
	width: 100%;
	height: 100%;
	position: absolute;
}

.hidden {
	display: none;
}

.attack {
	position: absolute;
	z-index: 200;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
}